*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
analysis/*.html
venv/
.DS_Store
.Rhistory
.Rproj.user/
/released_outputs/*
notebooks/qof-hypertension.html
manuscript/qof_bp_hyp_covid_files/*
manuscript/qof_bp_hyp_covid.docx
manuscript/qof_bp_hyp_covid.html
notebooks/scratchpad.html
notebooks/scratchpad_files/*
lib/qof_nhsd_data/QOF2021_v2/*
notebooks/scratchpad.rmarkdown
